div .container{
  margin-left: 10%
}

div .beerList{
  column-count: 5
}

h1.title{
	margin-left: 40%
}

div#pop-up {
  display: none;
  position: absolute;
  width: 280px;
  padding: 10px;
  background: #eeeeee;
  color: #000000;
  border: 1px solid #1a1a1a;
  font-size: 90%;
}
